<div class="panel panel-default">
  <div class="panel-heading">
    Commented by <%= link_to comment.user.name, "#" %>
  </div>
  <div class="panel-body">
    <%= comment.body %>
  </div>
  <% if can?(:update, comment) || can?(:destroy, comment) %>
    <div class="panel-footer">
      <% if can?(:update, comment) %>
        <%= link_to "Update Comment", "#" %>
      <% end %>
      <% if can?(:destroy, comment) %>
        | <%= link_to "Delete comment", "#" %>
      <% end %>
    </div>
  <% end %>
</div>
