<%= form_for comment, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control js-comment-body", rows: 5, placeholder: "Enter your comment ..." %>
    <%= f.hidden_field :post_id, value: post.id %>
    <p class="text-danger js-comment-error"></p>
  </div>
  <%= f.submit comment.persisted? ? "Update Comment" : "Comment" , class: "btn btn-default" %>
<% end %><br>
