<div class="panel panel-default">
  <div class="panel-heading">
    Post <%= post.title %><br>
    <small>by <%= link_to post.user.name, "#" %></small>
  </div>
  <div class="panel-body">
    <%= post.body.first(400) + " ..." %> <%= link_to "Readmore", "#" %>
  </div>
</div>
